---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$main-color:  #1796EA;
$text-color:       #FFF;
$background-color: #fdfdfd;

$mobile-size: 768px;

// Nav color
$nav-bg-color: #333;
$nav-text-color: #777;
// Header color
$header-text-color: #FFF;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin transition-css3($opts) {
  -webkit-transition: $opts;
  transition: $opts;
  -moz-transition: $opts;
  -o-transition: $opts;
}
@mixin border-radius($opts) {
  -webkit-border-radius: $opts;
  -moz-border-radius: $opts;
  border-radius: $opts;
}
@mixin box-shadow($opts){
  -webkit-box-shadow: $opts;
  -moz-box-shadow: $opts;
  box-shadow: $opts;
}
@mixin transform-css3($opts){
  -webkit-transform: $opts;
  -moz-transform: $opts;
  -o-transform: $opts;
  -ms-transform: $opts;
  transform: $opts;
}
@mixin three-dot(){
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "layout", "boot";
