<!-- Fixed navbar -->
<header class="site-header-main">
    <div class="navbar navbar-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="imd-contact-info-wrap pull-left col-xs-6 text-left">
                    <ul class="imd-contact-info">
                        <li><a href="tel:1800-123-456" class="top-contact-info"><i
                                class="fa fa-phone"></i>1800-123-456</a></li>
                        <li><a href="mailto:email@domain.com" class="top-contact-info"><i
                                class="fa fa-envelope"></i>&#101;&#109;ai&#108;&#64;&#100;o&#109;ai&#110;.c&#111;m</a>
                        </li>
                    </ul>
                </div>
                <div
                        class="pull-right col-xs-6 imd-top-social text-right">
                    <!-- button toggle top sozial -->
                    <ul class="top-social-link">
                        <li><a target="_blank" href="https://www.facebook.com" class="top-social-icon"><i
                                class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.twitter.com" class="top-social-icon"><i
                                class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com" class="top-social-icon"><i
                                class="fa fa-google-plus"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com" class="top-social-icon"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.dribbble.com" class="top-social-icon"><i
                                class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <!-- .imd-top-social -->
            </div>
        </div>
    </div>
    <div class="bs-header" id="content">
        <div class="container">
            <div style="background: url(./imgs/header.jpg); height: 150px;background-size: 100% 100%;"></div>
        </div>
    </div>
</header>
